<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
    Результат: <p th:text="${result}"/>
    <br/>
    <h3><a href="/index.jsp">Index</a></h3>
</body>
</html>