<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
    <p th:text="${person.getName()}">VALUE</p>
    <p th:text="${person.getId()}">VALUE</p>

    <br/><br/>
    <h4><a href="/people">People</a></h4>
</body>
</html>